<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIXIT FORUM</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <main id="content">
        {{ block "content" . }}{{ end }}
    </main>

    <main id="content">
        <h2>Forum Anasayfa</h2>
        <div id="filter">
            <input type="text" id="search" placeholder="Ara...">
            <button id="search-btn">Ara</button>
        </div>

        <!-- Örnek gönderiler -->
        <div class="post">
            <h3 class="post-title">İlk Gönderi</h3>
            <p>Bu, forumdaki ilk gönderinin içeriğidir.</p>
        </div>
        <div class="post">
            <h3 class="post-title">İkinci Gönderi</h3>
            <p>Bu, forumdaki ikinci gönderinin içeriğidir.</p>
        </div>
    </main>

    <!-- Giriş Yap Pop-up -->
    <div id="login-popup" class="popup">
        <div class="popup-content">
            <span class="close-btn" id="close-login">&times;</span>
            <h2>Giriş Yap</h2>
            <form id="login-form">
                <label for="login-email">Email:</label>
                <input type="text" id="login-email" name="email" required>
                <label for="login-password">Şifre:</label>
                <input type="password" id="login-password" name="password" required>
                <button type="submit">Giriş Yap</button>
            </form>
        </div>
    </div>

    <!-- Kayıt Ol Pop-up -->
    <div id="register-popup" class="popup">
        <div class="popup-content">
            <span class="close-btn" id="close-register">&times;</span>
            <h2>Kayıt Ol</h2>
            <form id="register-form">
                <label for="register-username">Kullanıcı Adı:</label>
                <input type="text" id="register-username" name="username" required>
                <label for="register-email">Email:</label>
                <input type="email" id="register-email" name="email" required>
                <label for="register-password">Şifre:</label>
                <input type="password" id="register-password" name="password" required>
                <label for="register-name">İsim:</label>
                <input type="text" id="register-name" name="name" required>
                <label for="register-surname">Soyisim:</label>
                <input type="text" id="register-surname" name="surname" required>
                <button type="submit">Kayıt Ol</button>
            </form>
        </div>
    </div>
    

    <footer>
        <p>&copy; 2024 FIXIT FORUM</p>
    </footer>

    <script src="/static/js/main.js"></script>
</body>
</html>
