<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>{{.Post.Title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <main id="content">
        {{ block "content" . }}{{ end }}
    </main>

    <main id="content">
        <div id="post-container">
            <h1>Title: </h1> {{.Post.Title}}
            <h2>Category: </h2>{{.Post.Categories}}</h2>
            <h3>Content:</h3>
            <p>{{.Post.Content}}</p>
            {{if .Post.ImageURL}}
            <img src="{{.Post.ImageURL}}" alt="Post Image" style="max-width: 100%; height: auto;">
            {{else}}
            {{end}}
            <p>Likes: {{.Post.Likes}} || Dislikes: {{.Post.Dislikes}}</p>
            <p>Posted by User: {{.Post.Username}}</p>
        </div>
    </main><br><br><br><br><br><br><br><br><br><br><br><br>

    <footer>
        <p>&copy; 2024 FIXIT FORUM</p>
    </footer>
</body>
</html>
