<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>{{.Post.Title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <favic icon href="/static/favicon.ico" type="image/x-icon">
</head>
<body>

    <main id="content">
        {{ block "content" . }}{{ end }}
    </main>

    <main id="content">
        <div id="post-container">
            <h1>{{.Post.Title}}</h1> 
            <h3>{{.Categories}}</h2><br/>
            <p>{{.Post.Content}}</p>
            {{if .Post.ImageURL}}
            <img src="{{.Post.ImageURL}}" alt="Post Image" style="max-width: 100%; height: auto;">
            {{else}}
            {{end}}
            <br><br>
            <p>Likes: {{.Post.Likes}} || Dislikes: {{.Post.Dislikes}}</p>
            <p>Posted by User: {{.Post.Username}}</p>
        </div>
        <form action="/create-comment" method="POST">
            <textarea name="content" placeholder="Write a comment..." required></textarea>
            <input type="hidden" id="post_id" name="post_id" value="{{.Post.ID}}">
            <button type="submit">Post Comment</button>
        </form>
        <div id="comments">
            {{range .Comments}}
            <div class="comment">
                <p>{{.content}}</p>
                <p>Posted by {{.username}} on {{.created_at}}</p>
                <p>Likes: {{.likes}} | Dislikes: {{.dislikes}}</p>
            </div>
            {{end}}
        </div>

    </main><br><br><br><br><br><br><br><br><br><br><br><br>

    <footer>
        <p>&copy; 2024 FIXIT FORUM</p>
    </footer>
    <script src="/static/js/main.js"></script>
</body>
</html>
