<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <main id="content">
        {{ block "content" . }}{{ end }}
    </main>

    <main id="content">
        <h2>Kullanıcı Profili</h2>
        <div id="profile-info">
            <div id="profile-picture">
                <img src="/static/images/default-profile.png" alt="Profil Resmi">
            </div>
            <div id="profile-details">
                <h3 id="user-name">Kullanıcı Adı</h3>
                <p id="user-email">email@example.com</p>
            </div>
        </div>

        <div id="user-posts">
            <h3>Paylaşılan Gönderiler</h3>
            <div id="posts-container"></div>
        </div>

        <div id="user-comments">
            <h3>Yorumlar</h3>
            <div id="comments-container"></div>
        </div>

        <div id="user-likes">
            <h3>Beğeniler</h3>
            <h4>Konular:</h4>
            <ul id="topics-likes-list"></ul>
            <h4>Yorumlar:</h4>
            <ul id="comments-likes-list"></ul>
        </div>

        <div id="moderator-request">
            <button id="request-moderator-btn">Moderatörlük İsteğinde Bulun</button>
        </div>

    </main><br><br><br><br><br><br><br>

    <footer>
        <p>&copy; 2024 Forum Sitesi</p>
    </footer>

    <script src="/static/js/main.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', () => {
    const logoutBtn = document.getElementById('logout-btn');
    const userNameElement = document.getElementById('user-name');
    const userEmailElement = document.getElementById('user-email');
    const postsContainer = document.getElementById('posts-container');
    const likesList = document.getElementById('likes-list');
    //const commentsList = document.getElementById('comments-list');
    const commentsContainer = document.getElementById('comments-container');
    const topicsLikesList = document.getElementById('topics-likes-list');
    const commentsLikesList = document.getElementById('comments-likes-list');
    const requestModeratorBtn = document.getElementById('request-moderator-btn');

    const toggleUserUI = (isLoggedIn) => {
        logoutBtn.style.display = isLoggedIn ? 'inline' : 'none';
    };

    const loadUser = async () => {
        try {
            const response = await fetch('/models/user');
            const user = await response.json();
            if (response.ok) {
                toggleUserUI(true);
                userNameElement.textContent = `${user.name} ${user.surname}`;
                userEmailElement.textContent = user.email;

                loadUserPosts(user.id);
                loadUserLikes(user.id);
                loadUserComments(user.id);
            } else {
                console.error('Failed to load user profile');
            }
        } catch (error) {
            console.error('Error loading user:', error);
        }
    };

    const loadUserPosts = async (userId) => {
        try {
            const response = await fetch(`/user/${userId}/posts`);
            const posts = await response.json();
            postsContainer.innerHTML = '';
            posts.forEach(post => {
                const postElement = document.createElement('div');
                postElement.classList.add('post');
                postElement.innerHTML = `<h4><a href="/posts/${post.id}">${post.title}</a></h4><p>${post.content}</p>`;
                postsContainer.appendChild(postElement);
            });
        } catch (error) {
            console.error('Error loading user posts:', error);
        }
    };

    const loadUserLikes = async (userId) => {
        try {
            const response = await fetch(`/user/${userId}/likes`);
            const likes = await response.json();
            topicsLikesList.innerHTML = '';
            commentsLikesList.innerHTML = '';
            likes.forEach(like => {
                const likeElement = document.createElement('li');
                if (like.post_id && like.post_id.Valid) {
                    likeElement.innerHTML = `<a href="/posts/${like.post_id.Int64}">${like.post_title}</a>`;
                    topicsLikesList.appendChild(likeElement);
                } else if (like.comment_id && like.comment_id.Valid) {
                    likeElement.innerHTML = `<a href="/posts/${like.comment_id.Int64}">${like.post_title}</a>`;
                    commentsLikesList.appendChild(likeElement);
                }
            });
        } catch (error) {
            console.error('Error loading user likes:', error);
        }
    };

    const loadUserComments = async (userId) => {
        try {
            const response = await fetch(`/user/${userId}/comments`);
            const comments = await response.json();
            //commentsList.innerHTML = '';
            commentsContainer.innerHTML = '';
            /*comments.forEach(comment => {
                const commentElement = document.createElement('div');
                commentElement.innerHTML = `<strong><a href="/posts/${comment.post_id}">${comment.PostTitle}</a></strong>: ${comment.content}`;
                commentsList.appendChild(commentElement);
            });*/
            comments.forEach(comment => {
                const commentElement = document.createElement('div');
                commentElement.classList.add('comment');
                commentElement.innerHTML = `<h4><a href="/posts/${comment.post_id}">${comment.PostTitle}</a></h4><p>${comment.content}</p>`;
                commentsContainer.appendChild(commentElement);
            });
        } catch (error) {
            console.error('Error loading user comments:', error);
        }
    };

    const requestModerator = async () => {
        try {
            const response = await fetch('/user/request_moderator', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            });

            if (response.ok) {
                alert('Moderator request submitted successfully.');
                requestModeratorBtn.style.display = 'none';
            } else {
                alert('Failed to submit moderator request.');
            }
        } catch (error) {
            console.error('Error submitting moderator request:', error);
        }
    };

    requestModeratorBtn.addEventListener('click', requestModerator);

    loadUser();

    logoutBtn.addEventListener('click', async (event) => {
        event.preventDefault();
        try {
            const response = await fetch('/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            });

            if (response.ok) {
                const responseData = await response.json();
                alert(responseData.message);
                localStorage.removeItem('user');
                toggleUserUI(false);
                window.location.href = "/";  // Logout işleminden sonra anasayfaya yönlendirin
            } else {
                const responseData = await response.json();
                alert(responseData.error);
            }
        } catch (error) {
            console.error('Logout request failed:', error);
        }
    });
});

    </script>
    
</body>
</html>
